{% extends 'base.html' %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<h1 class="display-4">Update User</h1>

<form method="POST" action="">
    <div class="form-group">
        {{ render_field(form.first_name, class="form_control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.last_name, class="form_control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.email, class="form_control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.password, class="form_control") }}
    </div>
  <div class="form-group">
        {{ render_field(form.password_confirm, class="form_control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.address, class="form_control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.country, class="form_control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.state, class="form_control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.zip_code, class="form_control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.company, class="form_control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.phone, class="form_control") }}
    </div>
<!--    <input type="submit" value="Submit" class="btn btn-primary"/>-->
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal">
                        Update
                    </button>
<!--                    Modal-->
                    <div class="modal" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">

<!--                                Modal Header-->
                                <div class="modal-header">
                                    <h4 class="modal-title">Update Confirmation</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>

<!--                                Modal Body-->
                                <div class="modal-body">
                                    Are you sure you want to update this item from your cart?
                                </div>

<!--                                Modal Footer-->
                                <div class="modal-footer">
                                    <input type="submit" value="Update" class="btn btn-danger">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                </div>

                            </div>
                        </div>
                    </div>
</form>

{% endblock %}