{% extends 'dashboardbase.html' %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1>Feedback</h1>
        </div>
        {% from "includes/_formHelper.html" import render_field %}
        <form action="{{ url_for('create_feedback', username=current_user.get_first_name(), logged_in=current_user.is_authenticated) }}" method="POST">
<!--                    <input type="submit" value="Checkout" class="btn btn-dark">-->
                        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#createFeedback">
                        Create New Feedback
                        </button>
            <div class="modal" id="createFeedback">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">

<!--                                Modal Header-->
                                <div class="modal-header">
                                    <h4 class="modal-title">Create Feedback</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>

<!--                                Modal Body-->
                                <div class="modal-body">

                                    <div class="form-group">
                                        {{ render_field(form.title, class="form-control") }}
                                    </div>
                                    <div class="form-group">
                                        {{ render_field(form.description, class="form-control") }}
                                    </div>
                                    <div class="form-group">
                                        {{ render_field(form.rating, class="form-control") }}
                                    </div>


                                    Are you sure you want to continue?
                                </div>

<!--                                Modal Footer-->
                                <div class="modal-footer">
                                    <input type="submit" value="Create" class="btn btn-warning">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                </div>

                            </div>
                        </div>
                    </div>
        </form>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Feedback Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Date</th>
            <th>Rating out of 10</th>
            <th>Update</th>
            <th>Delete</th>

        </tr>
        </thead>
        {% for feedback_key in feedback_dict %}
        {% if feedback_dict[feedback_key].get_author() == current_user.get_first_name() %}
        <tr>
            <td>{{ feedback_dict[feedback_key].get_id() }}</td>
            <td>{{ feedback_dict[feedback_key].get_title() }}</td>
            <td>{{feedback_dict[feedback_key].get_description()}}</td>
            <td>{{feedback_dict[feedback_key].get_date_of_creation()}}</td>
            <td>{{feedback_dict[feedback_key].get_rating() }}</td>
            <td>
                {% from "includes/_formHelper.html" import render_field %}
                <form action="{{ url_for('update_feedback', username=current_user.get_first_name(), logged_in=current_user.is_authenticated, feedback_code=feedback_dict[feedback_key].get_code()) }}" method="POST">
<!--                    <input type="submit" value="Delete" class="btn btn-danger">-->
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#myModal_{{feedback_dict[feedback_key].get_code()}}">
                        Update
                    </button>
<!--                    Modal-->
                    <div class="modal" id="myModal_{{feedback_dict[feedback_key].get_code()}}">
                        <div class="modal-dialog">
                            <div class="modal-content">

<!--                                Modal Header-->
                                <div class="modal-header">
                                    <h4 class="modal-title">Update Feedback</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>

<!--                                Modal Body-->
                                <div class="modal-body">

                                    <div class="form-group">
                                        {{ render_field(form_update.title, class="form-control", value=feedback_dict[feedback_key].get_title()) }}
                                    </div>
                                    <div class="form-group">
                                        {{ render_field(form_update.description, class="form-control", value=feedback_dict[feedback_key].get_description()) }}
                                    </div>
                                    <div class="form-group">
                                        {{ render_field(form_update.rating, class="form-control", value=feedback_dict[feedback_key].get_rating()) }}
                                    </div>
                                </div>

<!--                                Modal Footer-->
                                <div class="modal-footer">
                                    <input type="submit" value="Update" class="btn btn-warning">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </form></td>
            <td><form action="{{ url_for('delete_feedback', username=current_user.get_first_name(), logged_in=current_user.is_authenticated, feedback_code=feedback_dict[feedback_key].get_code())}}" method="POST">
<!--                    <input type="submit" value="Delete" class="btn btn-danger">-->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{feedback_dict[feedback_key].get_id()}}_delete">
                        Delete
                    </button>
<!--                    Modal-->
                    <div class="modal" id="myModal_{{feedback_dict[feedback_key].get_id()}}_delete">
                        <div class="modal-dialog">
                            <div class="modal-content">

<!--                                Modal Header-->
                                <div class="modal-header">
                                    <h4 class="modal-title">Delete Confirmation</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>

<!--                                Modal Body-->
                                <div class="modal-body">
                                    Are you sure you want to delete this feedback?
                                </div>

<!--                                Modal Footer-->
                                <div class="modal-footer">
                                    <input type="submit" value="Delete" class="btn btn-danger">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </form></td>





        </tr>
        {% endif %}
        {% endfor %}
    </table>

        </main>


{% endblock %}
